@import 'var'

// шрифты
=Awesome()
  font-family: FontAwesome
=RobotoSlabSerif()
  font-family: Roboto Slab, serif
=RobotoSerif()
  font-family: Roboto, serif
=RobotoSansSerif()
  font-family: Roboto, sans-serif

// дисплей
=flexColumn()
  display: flex
  flex-direction: column
=flexColumnCC()
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
=flexCC()
  display: flex
  justify-content: center
  align-items: center
=flexLC()
  display: flex
  justify-content: flex-start
  align-items: center
=flexRC()
  display: flex
  justify-content: flex-end
  align-items: center
=flexSb()
  display: flex
  justify-content: space-between
=flexSbC()
  display: flex
  justify-content: space-between
  align-items: center

// отступы
=marginTopRight($top, $right)
  margin-top: $top
  margin-right: $right
=marginTopBottom($top, $bottom)
  margin-top: $top
  margin-bottom: $bottom
=marginTopLeft($top, $left)
  margin-top: $top
  margin-left: $left
=marginRightBottom($right, $bottom)
  margin-right: $right
  margin-bottom: $bottom
=marginRightLeft($right, $left)
  margin-right: $right
  margin-left: $left
=marginBottomLeft($bottom, $left)
  margin-bottom: $bottom
  margin-left: $left
=marginTopRightBottom($top, $right, $bottom)
  margin-top: $top
  margin-right: $top
  margin-bottom: $bottom
=marginTopRightLeft($top, $right, $left)
  margin-top: $top
  margin-right: $right
  margin-left: $left
=marginTopBottomLeft($top, $bottom, $left)
  margin-top: $top
  margin-bottom: $bottom
  margin-left: $left
=marginRightBottomLeft($right, $bottom, $left)
  margin-right: $right
  margin-bottom: $bottom
  margin-left: $left
=paddingTopRight($top, $right)
  padding-top: $top
  padding-right: $right
=paddingTopBottom($top, $bottom)
  padding-top: $top
  padding-bottom: $bottom
=paddingTopLeft($top, $left)
  padding-top: $top
  padding-left: $left
=paddingRightBottom($right, $bottom)
  padding-right: $right
  padding-bottom: $bottom
=paddingRightLeft($right, $left)
  padding-right: $right
  padding-left: $left
=paddingBottomLeft($bottom, $left)
  padding-bottom: $bottom
  padding-left: $left
=paddingTopRightBottom($top, $right, $bottom)
  padding-top: $top
  padding-right: $top
  padding-bottom: $bottom
=paddingTopRightLeft($top, $right, $left)
  padding-top: $top
  padding-right: $right
  padding-left: $left
=paddingTopBottomLeft($top, $bottom, $left)
  padding-top: $top
  padding-bottom: $bottom
  padding-left: $left
=paddingRightBottomLeft($right, $bottom, $left)
  padding-right: $right
  padding-bottom: $bottom
  padding-left: $left
=posTopRight($top, $right)
  top: $top
  right: $right
=posTopLeft($top, $left)
  top: $top
  left: $left
=posBottomRight($bottom, $right)
  bottom: $bottom
  right: $right
=posBottomLeft($bottom, $left)
  bottom: $bottom
  left: $left

// границы и заливка
=radiusTop($radius)
  border-top-left-radius: $radius
  border-top-right-radius: $radius
=radiusRight($radius)
  border-top-right-radius: $radius
  border-bottom-right-radius: $radius
=radiusBottom($radius)
  border-bottom-left-radius: $radius
  border-bottom-right-radius: $radius
=radiusLeft($radius)
  border-top-left-radius: $radius
  border-bottom-left-radius: $radius
=shadow($x, $y, $deg)
  box-shadow: $x $y $deg $Shadow
=shadowContrast($x, $y, $deg)
  box-shadow: $x $y $deg $ShadowContrast
=shadowText($x, $y, $deg)
  text-shadow: $x $y $deg $TextShadow
=shadowTextContrast($x, $y, $deg)
  text-shadow: $x $y $deg $TextShadowContrast