@import 'var'

// шрифты
=Awesome()
  font-family: FontAwesome
=RobotoSlabSerif()
  font-family: Roboto Slab, serif
=RobotoSerif()
  font-family: Roboto, serif
=RobotoSansSerif()
  font-family: Roboto, sans-serif

// дисплей
=flexColumn()
  display: flex
  flex-direction: column
=flexColumnJcC()
  display: flex
  flex-direction: column
  justify-content: center
=flexColumnAiC()
  display: flex
  flex-direction: column
  align-items: center
=flexColumnCC()
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
=flexJcC()
  display: flex
  justify-content: center
=flexAiC()
  display: flex
  align-items: center
=flexCC()
  +flexAiC
  justify-content: center
=flexLC()
  +flexAiC
  justify-content: flex-start
=flexRC()
  +flexAiC
  justify-content: flex-end
=flexSa()
  display: flex
  justify-content: space-around
=flexSaC()
  +flexSa
  align-items: center
=flexSaWrap()
  +flexSa
  flex-wrap: wrap
=flexSaCWrap()
  +flexSaC
  flex-wrap: wrap
=flexSb()
  display: flex
  justify-content: space-between
=flexSbC()
  +flexSb
  align-items: center
=flexSbWrap()
  +flexSb
  flex-wrap: wrap
=flexSbCWrap()
  +flexSbC
  flex-wrap: wrap

// отступы
=marginTopRight($top, $right)
  margin-top: $top
  margin-right: $right
=marginTopRightSingle($size)
  margin-top: $size
  margin-right: $size
=marginTopBottom($top, $bottom)
  margin-top: $top
  margin-bottom: $bottom
=marginTopBottomSingle($size)
  margin-top: $size
  margin-bottom: $size
=marginTopLeft($top, $left)
  margin-top: $top
  margin-left: $left
=marginTopLeftSingle($size)
  margin-top: $size
  margin-left: $size
=marginRightBottom($right, $bottom)
  margin-right: $right
  margin-bottom: $bottom
=marginRightBottomSingle($size)
  margin-right: $size
  margin-bottom: $size
=marginRightLeft($right, $left)
  margin-right: $right
  margin-left: $left
=marginRightLeftSingle($size)
  margin-right: $size
  margin-left: $size
=marginBottomLeft($bottom, $left)
  margin-bottom: $bottom
  margin-left: $left
=marginBottomLeftSingle($size)
  margin-bottom: $size
  margin-left: $size
=marginTopRightBottom($top, $right, $bottom)
  margin-top: $top
  margin-right: $top
  margin-bottom: $bottom
=marginTopRightBottomSingle($size)
  margin-top: $size
  margin-right: $size
  margin-bottom: $size
=marginTopRightLeft($top, $right, $left)
  margin-top: $top
  margin-right: $right
  margin-left: $left
=marginTopRightLeftSingle($size)
  margin-top: $size
  margin-right: $size
  margin-left: $size
=marginTopBottomLeft($top, $bottom, $left)
  margin-top: $top
  margin-bottom: $bottom
  margin-left: $left
=marginTopBottomLeftSingle($size)
  margin-top: $size
  margin-bottom: $size
  margin-left: $size
=marginRightBottomLeft($right, $bottom, $left)
  margin-right: $right
  margin-bottom: $bottom
  margin-left: $left
=marginRightBottomLeftSingle($size)
  margin-right: $size
  margin-bottom: $size
  margin-left: $size
=paddingTopRight($top, $right)
  padding-top: $top
  padding-right: $right
=paddingTopRightSingle($size)
  padding-top: $size
  padding-right: $size
=paddingTopBottom($top, $bottom)
  padding-top: $top
  padding-bottom: $bottom
=paddingTopBottomSingle($size)
  padding-top: $size
  padding-bottom: $size
=paddingTopLeft($top, $left)
  padding-top: $top
  padding-left: $left
=paddingTopLeftSingle($size)
  padding-top: $size
  padding-left: $size
=paddingRightBottom($right, $bottom)
  padding-right: $right
  padding-bottom: $bottom
=paddingRightBottomSingle($size)
  padding-right: $size
  padding-bottom: $size
=paddingRightLeft($right, $left)
  padding-right: $right
  padding-left: $left
=paddingRightLeftSingle($size)
  padding-right: $size
  padding-left: $size
=paddingBottomLeft($bottom, $left)
  padding-bottom: $bottom
  padding-left: $left
=paddingBottomLeftSingle($size)
  padding-bottom: $size
  padding-left: $size
=paddingTopRightBottom($top, $right, $bottom)
  padding-top: $top
  padding-right: $top
  padding-bottom: $bottom
=paddingTopRightBottomSingle($size)
  padding-top: $size
  padding-right: $size
  padding-bottom: $size
=paddingTopRightLeft($top, $right, $left)
  padding-top: $top
  padding-right: $right
  padding-left: $left
=paddingTopRightLeftSingle($size)
  padding-top: $size
  padding-right: $size
  padding-left: $size
=paddingTopBottomLeft($top, $bottom, $left)
  padding-top: $top
  padding-bottom: $bottom
  padding-left: $left
=paddingTopBottomLeftSingle($size)
  padding-top: $size
  padding-bottom: $size
  padding-left: $size
=paddingRightBottomLeft($right, $bottom, $left)
  padding-right: $right
  padding-bottom: $bottom
  padding-left: $left
=paddingRightBottomLeftSingle($size)
  padding-right: $size
  padding-bottom: $size
  padding-left: $size
=posTopRight($top, $right)
  top: $top
  right: $right
=posTopRightSingle($size)
  top: $size
  right: $size
=posTopLeft($top, $left)
  top: $top
  left: $left
=posTopLeftSingle($size)
  top: $size
  left: $size
=posBottomRight($bottom, $right)
  bottom: $bottom
  right: $right
=posBottomRightSingle($size)
  bottom: $size
  right: $size
=posBottomLeft($bottom, $left)
  bottom: $bottom
  left: $left
=posBottomLeftSingle($size)
  bottom: $size
  left: $size

// границы и заливка
=borderTopRight($width, $color)
  border-top: $width solid $color
  border-right: $width solid $color
=borderTopBottom($width, $color)
  border-top: $width solid $color
  border-bottom: $width solid $color
=borderTopLeft($width, $color)
  border-top: $width solid $color
  border-left: $width solid $color
=borderRightBottom($width, $color)
  border-right: $width solid $color
  border-bottom: $width solid $color
=borderRightLeft($width, $color)
  border-right: $width solid $color
  border-left: $width solid $color
=borderBottomLeft($width, $color)
  border-bottom: $width solid $color
  border-left: $width solid $color
=borderTopRightBottom($width, $color)
  +borderTopRight($width, $color)
  border-bottom: $width solid $color
=borderTopRightLeft($width, $color)
  +borderTopRight($width, $color)
  border-left: $width solid $color
=borderRightBottomLeft($width, $color)
  +borderRightBottom($width, $color)
  border-left: $width solid $color
=radiusTop($radius)
  border-top-left-radius: $radius
  border-top-right-radius: $radius
=radiusRight($radius)
  border-top-right-radius: $radius
  border-bottom-right-radius: $radius
=radiusBottom($radius)
  border-bottom-left-radius: $radius
  border-bottom-right-radius: $radius
=radiusLeft($radius)
  border-top-left-radius: $radius
  border-bottom-left-radius: $radius
=radiusLeftRight($radius)
  border-top-left-radius: $radius
  border-bottom-right-radius: $radius
=radiusRightLeft($radius)
  border-top-right-radius: $radius
  border-bottom-left-radius: $radius
=shadow($x, $y, $deg)
  box-shadow: $x $y $deg $Shadow
=shadowContrast($x, $y, $deg)
  box-shadow: $x $y $deg $ShadowContrast
=shadowText($x, $y, $deg)
  text-shadow: $x $y $deg $TextShadow
=shadowTextContrast($x, $y, $deg)
  text-shadow: $x $y $deg $TextShadowContrast